body {
    background-image: url(stock-photo-four-diverse-women-holding-each-others-wrists-in-a-circle-top-view-of-female-hands-linked-in-the-1008160987.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: fit-content;
    width: fit-content;
}